:root {
  --main-text-color: #fff;
  --main-bg-color: #131528;
  --disabled-color: grey;
}

.header {
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--main-text-color);
}

.subtitle {
  margin: 0 0 30px;
  color: var(--main-text-color);
  font-weight: bold;
}

.menuWrapper {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  font-weight: bold;
  width: 500px;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
  padding: 23px 200px;
  border-radius: 30px;
  background: linear-gradient(
    90.9deg,
    rgba(247, 58, 245, 0.24) 3.28%,
    rgba(23, 178, 222, 0.24) 97.89%
  );
  box-shadow: 6px 7px 22px rgba(0, 0, 0, 0.35);
}

.menuItem:disabled {
  color: var(--disabled-color);
}
