.cardWrapper{
    flex: 0 0 15%;
    cursor: pointer;
    margin: 10px;
}

.img{
   width: 88px;
    height: 64px;
    border-radius: 8px;

}

.background{
    width: 88px;
    height: 64px;
    border-radius: 8px;
    position: absolute
}

.hide{
    display: none;

}